.card-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin: 50px 20px;
}

.card:hover {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.text-container {
  width: 80%;
  padding: 50px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.card-upper {
  width: 300px;
  height: 322px;
  background-color: #FFFFFF;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.card-fave {
  width: 300px;
  height: 24px;
  background-color: #818181;
  text-align: center;
}

.card-fave img {
  width: 25px;
  height: 25px;
}

.fav-color {
  background-color: #5BC3EB;
}

.card-options {
  width: 300px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.card-options img {
  width: 25px;
  height: 25px;
  padding-top: 15px;
}

.del-option {
  width: 115px;
  height: 55px;
  background-color: #545454;
  border-right: 1px solid #3d3d3d8c;
  border-radius: 0 0 0px 20px;
}

.del-option:hover {
  background-color: #5BC3EB;
}

.confirm-option {
  width: 70px;
  height: 55px;
  background-color: #545454;
}

.confirm-option:hover {
  background-color: #5BC3EB;
}

.edit-option {
  width: 115px;
  height: 55px;
  border-left: 1px solid #3d3d3d8c;
  background-color: #545454;
  border-radius: 0 0 20px 0;
}

.edit-option:hover {
  background-color: #5BC3EB;
}

.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.text-wrapper div {
  padding: 10px 0;
}

.text-wrapper h2 {
  padding-bottom: 5px;
}

.blur {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.753);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-wrapper {
  width: 555px;
  height: 665px;
  background-color: #f0f0f0;
  margin: auto;
  border-radius: 20px;
  z-index: 3;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

form input {
  width: 372px;
  height: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 15px 30px;
  border: none;
  background-color: #D2D2D2;
}

form input:focus {
  outline: none;
}

form label {
  margin: 10px 30px;
}

form button {
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  background-color: gray;
  color: white;
  font-size: 1.1em;
  letter-spacing: 3px;
  margin-left: 15px;
}

form button:focus {
  outline: none;
}

.confirm-btn {
  background-color: #5BC3EB;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-input div {
  margin-left: 30px;
}

.mini-input label {
  margin: 10px 10px;
}

.mini-input input {
  width: 117px;
  height: 62px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  display: none;
}

aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding: 90px 20px;
  position: fixed;
  right: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-btn-wrapper button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  border-radius: 100%;
  border: none;
}

.add-btn-wrapper button:hover {
  background-color: #5BC3EB;
}

.add-btn-wrapper button:focus {
  outline: none;
}

.dropdown-wrapper {
  background-color: #333333;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.dropdown-wrapper:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.445);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.445);
}

.sort-by {
  min-width: 150px;
}

.sort-by:hover + .dropdown-list {
  display: block;
}

.dropdown-list {
  padding-top: 15px;
  display: none;
  width: 100%;
}

.dropdown-list li {
  list-style: none;
  padding: 5px 0;
}

.dropdown-list button {
  width: 100%;
  padding: 10px 5px;
  color: white;
  background-color: #363636;
  border: none;
  font-size: 1em;
}

.dropdown-list button:hover {
  background-color: #414141;
}

.dropdown-list button:focus {
  outline: none;
  background-color: #5BC3EB;
}

.dropdown-list:hover {
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

main {
  width: 80%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */